/*estilos formulário desafio*/

#form .contato{    
    font-size: 1.1em;
    display: block;
    justify-content: center;    
    align-items: center;
    margin: auto;
    margin-top: 50px; 
    padding-top: 30px;   
}

.contact-form{
    width: 100%;
    background-color: #B6D6F2;
}

.contact-form > div{
    margin: 20px 0;
    padding: 0 20px;
} 


.contact-form > div label{
    display: block;
    margin-bottom: 15px;
} 

.contact-form > div input {
    height: 45px;
    margin-bottom: 0;
}


.contact-form input,
.contact-form select,
.contact-form textarea{
    width: 90%;
    font-size: 1.1em;
    padding: 5px 15px;
    border: 2px solid #0080ed;
    border-radius: 5px;   
}


.contact-form textarea{
    resize: none;
    padding-top: 15px;
}

section .contact-form > div span{
    padding: 0 5px;    
    font-size: 1.1em;   
}

/* Estilos específicos dos inputs*/

.contact-form > div input[type=radio],
.contact-form > div input[type=checkbox]{
    width: 25px; 
    height: 20px;
}

.contact-form > div input[type=submit],
.contact-form > div input[type=reset]{
    width: 40%;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;       
    font-size: 1.1em; 
    font-weight: bold;      
}

.contact-form [type="submit"]:hover {
    cursor: pointer;
    border: 2px solid #000;
}

.contact-form [type="reset"]:hover {
    cursor: pointer;
    border: 2px solid #0080ed;
}