/*Estilos gerais da Home*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body{
    height: 100vh;
    font-family: "Roboto Condensed", 'Verdana';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

header{
    background-color: #0080ed;
}

